<div class="details">
  <div class="details__header">
    <img class="details__image" [src]="photoControl.value || 'assets/avatar.png'"/>
  </div>

  <div class="details__body" [formGroup]="form">
    <!-- Name -->
    <mat-form-field>
      <input
        type="text"
        autocomplete="off"
        matInput
        placeholder="Name"
        formControlName="name"
      >
    </mat-form-field>

    <!-- Email -->
    <mat-form-field>
      <input
        type="text"
        autocomplete="off"
        matInput
        placeholder="Email"
        formControlName="email"
      >
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field>
      <input
        type="text"
        autocomplete="off"
        matInput
        placeholder="Phone"
        formControlName="phone"
      >
    </mat-form-field>

    <!-- Website -->
    <mat-form-field>
      <input
        type="text"
        autocomplete="off"
        matInput
        placeholder="Website"
        formControlName="website"
      >
    </mat-form-field>

    <div class="details__actions">
      <button
        mat-raised-button
        [disabled]="isSubmitDisabled"
        (click)="onSubmit()"
      >
        SAVE
      </button>

      <button
        *ngIf="canDelete"
        color="warn"
        mat-raised-button
        (click)="onDelete()"
      >
        DELETE
      </button>
    </div>
  </div>
</div>