<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <a
        *ngFor="let link of links"
        mat-list-item
        [routerLink]="link.path"
      >
        {{ link.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        *ngIf="isHandset$ | async"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <mat-form-field style="width: 100%; font-size: 14px">
        <input
          autocomplete="off"
          type="text"
          matInput
          placeholder="Search"
          [formControl]="searchControl"
        >
      </mat-form-field>
    </mat-toolbar>

    <div class="sidenav-container__content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
