<div [@listStagger]="(todos$ | async)?.length">
  <ng-container *ngIf="todos$ | async as todos">
    <app-card
      *ngFor="let todo of todos; trackBy: trackByFn"
      @fadeInUp
      image="assets/todo.jpeg"
      (edit)="onEdit(todo)"
      (delete)="onDelete(todo.id)"
    >
      <!-- Title -->
      <ng-template cardTitle>
        {{ todo?.title || '' }}
      </ng-template>

      <!-- Content -->
      <ng-container
        *ngIf="todo?.body"
        ngProjectAs="content"
      >
        <b>{{ todo!.body }}</b>
      </ng-container>
    </app-card>

    <ng-container *ngIf="!todos.length">
      Nothing found
    </ng-container>
  </ng-container>
</div>